{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <div class="ec-eyecatchRole__image">
            <img src="{{ asset('/html/template/default/assets/img/top/top_55555.png') }}" alt="" role="presentation"/>
        </div>
        <div class="ec-eyecatchRole__intro">
            <p class="ec-eyecatchRole__introEnTitle">{{ 'New Products Collection'|trans }}</p>
            <p class="ec-eyecatchRole__introTitle">{{ '10泊ゆったりレンタル、追加料金なし！'|trans }}</p>
            <p class="ec-eyecatchRole__introDescription">{{ '特別な日を彩るオケージョンドレスを手軽にレンタル。お値打ち価格＆わかりやすい料金設定で、安心してご利用いただけます。
            10泊ゆったりレンタル＆追加料金なしだから、結婚式後も平日に余裕をもって返却OK。
            土日発送対応で、週末のイベントにもぴったり。高品質でトレンド感のあるドレスを、お手頃価格でご提供。
            ネットで簡単予約、クリーニング不要で返却ラクラク。ワンランク上のおしゃれを、気軽に楽しめる新しいスタイルをお届けします。
'|trans|nl2br }}</p>
            <a class="ec-blockBtn--top" href="{{ url('product_list') }}?category_id=4">{{ '一覧を見る'|trans }}</a>
        </div>
    </div>
</div>
